@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button asp-page="/Invoices/New">Add Invoices</button>

    @if(Model.Invoices.Count() == 0)
    {
        <p>No Invoices Available </p>
    }

</div>
